@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(images/back.jpg);
    background-size: cover;
    filter:alpha(opacity=40);
    margin:0;
    overflow:auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding:0;
    scroll-behavior: smooth;
}
#nav{
    margin-top:2%;
}
.back{
  margin: 0;
  top:-10%;
  padding:0;
  background-image: url(images/back.jpg);
  background-size: cover;
  width:100%;
  height:110%;
  position: fixed;
  z-index: -100;
  display:absolute;
}
ul{
    border-radius: 50px 50px 50px 50px;
    background-color:rgba(255, 255, 255, 0.234);
    flex-direction: row;
    padding-inline-start: 3px;
    padding-inline-end: 50px;
    justify-items:center;
    transform:scaleX(1);
    align-items: center;
    margin-right:30px;
    transform: translateX(100%);
    height: 50px;
    backdrop-filter: blur(20px);
    position:fixed;
    right:0.05%;
    float:right;
    display: flex;
    transition: transform 390ms ease-out;
    animation: jump2 0s;
    transform:translateX(98%);
}
li{
    padding:10px 25px 10px 25px;
    color:white;
    list-style: none;
    justify-items:center;
    align-items: center;
    transition: 0.2s ease;
    border-radius: 50px; 
    margin: 3px;
    font-weight:bolder;
}
li[content="active"],li:hover{
    cursor: pointer;
    background-color:rgb(210, 210, 210);
    color:rgb(29, 29, 29);
    border-radius: 50px; 
    /* margin-inline: 10px; */
    /* border-bottom: 2px solid black; */
    transition: 0.3s ease;
}
li[content="active"]{
    font-weight:bolder;
}

li[content="active"]:hover{
    background-color:rgb(210, 210, 210);
    color:rgb(29, 29, 29);
}
li:hover{
    /* outline: 2px solid rgba(255, 255, 255, 0.578); */
    color:rgba(38, 38, 38, 0.884);
    background-color:rgba(254, 254, 254, 0.471);
    /* outline: 2px solid rgb(85, 85, 85); */
}
#cross{
    transition: transform 500ms ease-in-out;
    aspect-ratio: 1;
    width:40px;
    margin:10px;
    margin-top:21px;
    float: right;
    background-image: url(images/arrow.webp);
    background-color:rgb(210, 210, 210);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 9;
    transform:rotate(0deg);
    border-radius: 50%;
    position:fixed;
    display:flex;
    right:-1%;
    z-index: 10;
    transition: 0.5s ease-in-out;
    animation: jump 0s;
}
#cross:hover{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#nav[data-visible="true"] {
    transform: translateX(0);
}
@keyframes jump {
    0%   {right: -1%; }
    40%   {right: -1.3%; }
    75%   {right: -0.7%; }
    100%   {right: -1%; }
  }
 
@keyframes jump2 {
    0%   {transform:translateX(98%);}
    40%   {transform:translateX(99%);}
    75%   {transform:translateX(97%);}
    100%   {transform:translateX(98%);}
  }

body {
    background-color: rgb(10, 19, 36);
  }
  
  @media screen and (orientation: portrait)  {
      ul{
          background-color:rgba(105, 105, 105, 0.166);
          backdrop-filter: blur(20px);
          padding: 100px;
          height: 100%;
          margin:0;
          font-size: 35px;
          top:0%;
          border-radius: 0px;
          z-index: 500;
          padding-block-start: 400px;
          flex-direction: column;
          width:56%;
          transform: translateX(100%);
          animation: jump2 0s;
      }
      li{
          outline:none;
          box-shadow: none;
          margin: 2%;
          padding:20px 200px 20px 170px;
          user-select: none;
      }
      li:focus {
          outline:0 !important;
      }
      li[content="active"],li:hover{
        padding:20px 200px 20px 170px;
        font-size: 38px;
      }
      .spinner:before {
        width: 150px;
        height:150px;
      }
      
      #cross{
        width:60px;
        top:5%;
        animation: jump 0s;
        right:5%;
        z-index: 600;
        background-position: 13;
      }
      .testimonial-grid {
        grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';
      }
    }

  section{
      min-height: 100vh;
      display: flex;
      color:white;
      justify-content: center;
      align-items: center;
      z-index: -9;
  }
  a{
      text-decoration:none;
      transition: all 1s ease-in;
  }
  #home{
    color:red;
    animation: fade 2s ease-in;
  }
@keyframes fade{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}




  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  } 


#about{
  background-color: red;
}

.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    padding-block: 2rem;
    width: min(100%, 70rem);
    margin-inline: auto;
    grid-template-areas:
    'one one two three'
    'five four four six';
    z-index: -100;
  }
  .testimonial:hover{
    outline: 1px solid white;
    cursor: pointer;
  }
  .testimonial {
    font-size: var(--fs-400);
    padding: 2rem;
    z-index: 0;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(2px);
    transition: 0.3s all ease-in-out;
  }

  .testimonial:nth-child(1) {
    grid-area: one;
  }
  .testimonial:nth-child(2) {
    grid-area: two;
  }
  .testimonial:nth-child(3) {
    grid-area: three;
  }
  .testimonial:nth-child(4) {
    grid-area: four;
  }
  .testimonial:nth-child(5) {
    grid-area: five;
  }
  .testimonial:nth-child(5) {
    grid-area: six;
  }
  
  .im{
      width:20px;
      color:white;
      filter: invert(100);
      margin-block: -5px;
  }

  .yr{
      font-size:1rem;
      font-weight: 100;
  }
  .flex{
    transition: 0.3s all ease-in-out;
  }
  #more{
    display: none;
  }
  #works{
    background-color: rgba(0, 0, 0, 0.47);
  }

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(121, 133, 146);
}

::-webkit-scrollbar-thumb {
  background: rgb(210, 210, 210);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}

@keyframes spinner {  0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
 

#spinner {
  display: block;
  position:fixed;
  width: 64px;
  height: 64px;
  top:50%;
  left:50%;
  transform:translate(-30%,-30%);
}
#spinner:after {
  content: "";
  display: block;
  position:fixed;
  z-index: 999;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}
#spindiv{
  background-color: black;
  width: 100vw;
  height:110vh;
  top:-10%;
  display: block;
  position:fixed;
  z-index: 899;
  transition: 0.5s all ease-in-out;
}
